<mat-card>
    <mat-card-title>Novo Produto</mat-card-title>
    <form #f="ngForm" autocomplete="off">
        <mat-form-field>
            <input matInput placeholder="Nome" [(ngModel)]="dscProduto" name="dscProduto" required>
        </mat-form-field>
        <mat-form-field>
            <input matInput placeholder="Preço" [(ngModel)]="vlrProduto" name="vlrProduto" required>
        </mat-form-field>
    </form>

    <button mat-raised-button (click)="criarProduto()" color="primary" [disabled]="!f.valid">
        Salvar
    </button>
    
    <button mat-raised-button (click)="calcel()" color="primary">
        Voltar
    </button>
</mat-card>


